@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Raleway", sans-serif;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

.box-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
}

/* Custom styles for FullCalendar */
.fc .fc-toolbar-title {
    font-size: 1.25rem; /* Adjust title size for better readability */
  }
  
  .fc-toolbar.fc-header-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
  }
  
  .fc-toolbar.fc-header-toolbar .fc-left,
  .fc-toolbar.fc-header-toolbar .fc-center,
  .fc-toolbar.fc-header-toolbar .fc-right {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .fc-toolbar.fc-header-toolbar .fc-left {
    order: 1;
  }
  
  .fc-toolbar.fc-header-toolbar .fc-center {
    order: 2;
  }
  
  .fc-toolbar.fc-header-toolbar .fc-right {
    order: 3;
  }
  
  /* Hide less important buttons on small screens */
  @media (max-width: 768px) {
    .fc-toolbar.fc-header-toolbar .fc-right {
      display: none; /* Hide the view buttons (day, week, month) on smaller screens */
    }
  
    .fc-toolbar.fc-header-toolbar .fc-left {
      text-align: center;
      order: 2; /* Show navigation controls and today's date in the center */
    }
  
    .fc-toolbar.fc-header-toolbar .fc-center {
      order: 1; /* Move the title to the top */
    }
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .modal-input,
  .modal-textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal-actions {
    margin-top: 20px;
  }
  
  .modal-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .modal-cancel-button {
    background-color: #6c757d;
  }
  
  .modal-button:hover {
    background-color: #0056b3;
  }
  